a{
  color: rgb(71, 27, 255);
  text-decoration: none;
}

a:hover{
  color: rgba(188, 80, 80, 0.7);
}

.portfolio{
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.5rem;
}

.block{
  margin: 2rem;
  font-size: 1.2rem;
}
