body {
    background: linear-gradient(70deg, #7183AC, #5B74AC, #0B193A);
    width: 99%;
    height: 100%;
}

img {
    max-width: 350px;
    max-height: 350px;
    float: right;
    position: relative;
}

button {
    width: 250px;
    background: antiqueWhite;
    border-radius: 15px;
    height: 40px;
}

p {
    color: #000;
    font-size: 15px;
    margin: 10px 0 10px 0;
}

.chocop {
    font-size: 2rem;
}

.p-edit {
    font-weight: bold;
}

.chocoBar {
    font-size: 8rem;
}